---
layout: page
title: Books
permalink: /books/
pagination: 
  enabled: true
  collection: books
  sort_field: last_modified_date
  sort_reverse: false
  per_page: 24
  permalink: '/:num/'
---

<h1>Library<span class="color-subtext">/Anti-library</span></h1>

<p>It’s meant to all overlap in unexpected ways and spark surprises. There are links and annotations galore. So start with what piques your interest, there are no wrong paths to follow.</p>

<div id="books">
  {% for book in paginator.posts %}
    <div class="book-entry">
      <div class="book-image">
        <a class="internal-link" href="/books/{{ book.title | slugify }}"><img class="book-img" src="/assets/book-covers/{{ book.cover }}" alt="book cover for {{ page.title }}"></a>
      </div>
        <p><a class="internal-link internal-link-unstyled" href="/books/{{ book.title | slugify }}"><em>{{ book.title }}</em></a></p>
        <p class="sans"><a class="internal-link internal-link-unstyled" href="/authors/{{ book.author | slugify }}">{{ book.author }}</a>{% if book.coauthor %}, <a class="internal-link internal-link-unstyled" href="/authors/{{ book.coauthor | slugify }}">{{ book.coauthor }}</a>{% endif %}</p>
    </div>
  {% endfor %}
  </div>

  {% include pagination.html %}