<hr>
<div>
    <span class="footer-links">
        <ul>
            <li><a class="internal-link hover-underline-animation" href="/changelog">What's new</a></li>
            <li><a class="internal-link hover-underline-animation" href="/about">About</a></li>
            <li><a class="internal-link hover-underline-animation" href="/meta">Meta</a></li>
            <li><a class="internal-link hover-underline-animation" href="/mycelia">🍄 Mycelia</a></li>
        </ul>
    </span>
</div>

<script>
    $( document ).ready(function() {
        var footnotes = $(".footnotes p");
        $("sup").each(function(index){
            var fn = footnotes[index].removeChild(footnotes[index].lastChild);
            $(this).replaceWith("<label for='"+index+"' class='margin-toggle sidenote-number'></label><input type='checkbox' id='"+index+"' class='margin-toggle'/><span class='sidenote'>"+footnotes[index].innerHTML+"</span>")  
        });   
        $(".footnotes").hide()
    });    
  </script>