<div class="metadata">
    <div class="flex-container">
        <img class="book-cover" src="{{ baseurl }}/assets/book-covers/{{ page.cover }}">
        <div class="book-metadata">
            <h1>{{ page.title }}</h1> 
            <div class="book-subtitle">{{ page.subtitle }}</div>
            <div class="sans book-author"><a class="internal-link internal-link-unstyled" href="/author/{{ page.author | slugify }}">{{ page.author }}</a></div>
            <div class="sans book-edition">Edition: Published {{ page.publish }} by <a class="internal-link internal-link-unstyled" href="/publisher/{{ page.publisher | slugify }}">{{ page.publisher }}</a>
        {% if page.series %}
            <div class="sans book-series">Series: <a class="internal-link internal-link-unstyled" href="/series/{{ page.series | slugify }}">{{ page.series }}</a>
        {% endif %}
            <div class="book-tags">
                {% for tag in page.tag %}
                <a class="internal-link internal-link-unstyled" href="/tag/{{ tag | slugify }}"><button>{{ tag }}</button></a>
                {% endfor %}
            </div>
            <div class="book-time">
                <time datetime="{{ page.last_modified_at | date_to_xmlschema }}">
                    Created {{ page.date | date: "%-m/%-d/%y" }}
                </time>
            </div>
        </div>
    </div>
</div>
