{% assign related_books = page.links | where_exp: "item","item.href contains '/books/'" %}
    {% if related_books.size > 0 %}
    <div id="related-books">
        <h3>Related books</h3>
        <div id="books">
        {% for link in related_books %}
      <div class="book-entry">
        <div class="book-image">
          <a class="internal-link" href="{{ link.href }}"><img class="book-img" src="/assets/book-covers/{{ link.title | slugify }}.jpg" alt="book cover for {{ link.title }}"></a>
        </div>
          <p><a class="internal-link internal-link-unstyled" href="{{ link.href }}"><em>{{ link.title }}</em></a></p>
          <p class="sans"><a class="internal-link internal-link-unstyled" href="/authors/{{ link.author | slugify }}">{{ link.author }}</a>{% if link.coauthor %}, <a class="internal-link internal-link-unstyled" href="/authors/{{ link.coauthor | slugify }}">{{ book.coauthor }}</a>{% endif %}</p>
        </div>
          {% endfor %}
        </div>
    </div>
    {% endif %}

    <style>
        #books {
            justify-content: left;
            margin-top: 1em;
        }
    </style>