---
layout: default
---

<article>
    {% include metadata-book.html layoutType="note" %}
  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
    <div class="shell">
      {% include backlinks.html %}
    </div>
    <div class="bottom-nav">
        {% include button.html buttonType="backToTop" %}{% include button.html buttonType="seeMoreCategory" bottomNav=true %}
    </div>
  </div>
</article>

<style>

    img.book-cover {
        max-width: 200px;
    }

    div.book-author {
        font-size: 0.8rem;
    }

   .flex-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 2.4rem;
    }

    time {
        margin: 0.5em 0 0;
    }

    @media (max-width: 760px) {
        div.book-metadata h1, div.book-metadata h2 {
            font-size: 1.5em;
        }
    }

    @media (max-width: 570px) {
        div.book-metadata h1, div.book-metadata h2 {
            font-size: 1em;
        }
        .flex-container {
            gap: 1.2rem;
        }
    }

    .metadata {
        margin-bottom: 3.4rem;
    }
</style>
