---
layout: default
---

<article>

    <h1>{% if page.categories contains 'publishers' %}
        Published by {{ page.title }}
    {% elsif page.categories contains 'series' %}
      Books in <em>{{ page.title }}</em> series
    {% else %}
    Written by {{ page.title }}
    {% endif %}</h1> 
    <div id="notes-entry-container">
        {% assign bookList = site.notes | where_exp: "item", "item.publisher == page.title or item.author == page.title or item.coauthor == page.title or item.series == page.title" | sort: 'order' %}
<div id="books">
  {% for book in bookList %}
    <div class="book-entry">
      <div class="book-image">
        <a class="internal-link" href="/books/{{ book.title | slugify }}"><img class="book-img" src="/assets/book-covers/{{ book.cover }}" alt="book cover for {{ page.title }}"></a>
      </div>
        <p><a class="internal-link internal-link-unstyled" href="/books/{{ book.title | slugify }}"><em>{{ book.title }}</em></a>{% if page.categories contains 'series' %} <span class="color-subtext">&num;{{ book.order }}</span>{% endif %}</p>
        <p class="sans"><a class="internal-link internal-link-unstyled" href="/authors/{{ book.author | slugify }}">{{ book.author }}</a>{% if book.coauthor %}, <a class="internal-link internal-link-unstyled" href="/authors/{{ book.coauthor | slugify }}">{{ book.coauthor }}</a>{% endif %}</p>
    </div>
  {% endfor %}
  </div>
      <content>
        {{ content }}
      </content>
    <div class="shell">
        {% include backlinks.html %}
      </div>
  </div>
  <div class="bottom-nav">
    {% include button.html buttonType="backToTop" %}{% include button.html buttonType="seeMoreCategory" bottomNav=true %}
</div>
  </article>

<style>

    img.book-cover {
        max-width: 200px;
    }

    div.book-link {
        margin: 0.7rem 0 2.4rem;
    }

    div.book-author {
        font-size: 0.8rem;
    }

    div.book-tags {
        margin-left: 0;
        margin-right: 0;
        width: fit-content;
    }

   .flex-container {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        gap: 2.4rem;
    }

    time {
        margin: 0.5em 0 0;
    }

    @media (max-width: 760px) {
        .flex-container {
            flex-direction: column;
            align-items: center;
            gap: 1.5rem;
        }

        
    }

    @media (max-width: 400px) {
        h1 {
            text-align: center;
            font-size: 2.4rem;
        }

        div.book-link {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        div.book-author {
            text-align: center;
        }

        div.book-tags {
            margin: 0 auto;
        }

        div.book-time {
            width: fit-content;
            margin: 0 auto;
        }

        time {
            margin-top: 0.8em;
        }
    }

    .metadata {
        margin-bottom: 3.4rem;
    }
</style>
