---
layout: default
---

<article>
  <h1>{{ page.title }}</h1> 
  <div id="notes-entry-container">
    <content>
      {{ content }}
    </content>
    <script>
      $( document ).ready(function() {
          var footnotes = $(".footnotes p");
          $("sup").each(function(index){
              var fn = footnotes[index].removeChild(footnotes[index].lastChild);
              $(this).replaceWith("<label for='"+index+"' class='margin-toggle sidenote-number'></label><input type='checkbox' id='"+index+"' class='margin-toggle'/><span class='sidenote'>"+footnotes[index].innerHTML+"</span>")  
          });   
          $(".footnotes").hide()
      });    
    </script>
    <hr>
    <div class="shell">
      {% include backlinks.html %}
    </div>
    <div class="shell">
      {% include related-books.html %}
    </div>
    <div class="bottom-nav">
      {% include button.html buttonType="backToTop" %}{% include button.html buttonType="seeMoreCategory" bottomNav=true %}
    </div>
  </div>
</article>